In [31]:
import numpy as np
import pandas as pd

In [32]:
df = pd.read_csv('../15_modified_data/final_data.csv')
df.head()

,Unnamed: 0.2,Unnamed: 0,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tip,additional_charges,shared_trip_authorized,trips_pooled,pickup_centroid_location,dropoff_centroid_location,date,Unnamed: 0.1
0,0,196731,2018-11-01 19:45:00,2018-11-01T20:00:00.000,576.0,2.691298,8,24,7.5,0,2.5,False,1,"{'type': 'Point', 'coordinates': [-87.62887415...","{'type': 'Point', 'coordinates': [-87.66495391...",2018-11-01,NaN
1,1,164547,2018-11-01 18:00:00,2018-11-01T18:00:00.000,500.0,1.572838,61,68,5.0,0,2.5,False,1,"{'type': 'Point', 'coordinates': [-87.65916659...","{'type': 'Point', 'coordinates': [-87.64249752...",2018-11-01,NaN
2,2,97519,2018-11-01 12:30:00,2018-11-01T12:45:00.000,503.0,1.813330,2,77,7.5,0,0.0,True,2,"{'type': 'Point', 'coordinates': [-87.69501258...","{'type': 'Point', 'coordinates': [-87.66341640...",2018-11-01,NaN
3,3,105166,2018-11-01 13:15:00,2018-11-01T13:30:00.000,1444.0,10.235455,32,1,17.5,5,2.5,False,1,"{'type': 'Point', 'coordinates': [-87.62519214...","{'type': 'Point', 'coordinates': [-87.67016685...",2018-11-01,NaN
4,4,91326,2018-11-01 12:00:00,2018-11-01T12:00:00.000,388.0,0.833294,8,32,5.0,0,2.5,False,1,"{'type': 'Point', 'coordinates': [-87.63186394...","{'type': 'Point', 'coordinates': [-87.62197165...",2018-11-01,NaN

In [4]:
test = pd.read_csv('../15_modified_data/test_data.csv')
test.head()

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tip,additional_charges,shared_trip_authorized,trips_pooled,date,pickup_community_name,dropoff_community_name,year,month,day,day_of_week,hour,weekend,nonzero_tip
0,2019-01-05 07:00:00,2019-01-05 07:00:00,232.0,1.053800,2.5,0,2.55,False,1,2019-01-05,SOUTH LAWNDALE,SOUTH LAWNDALE,2019,January,5,Saturday,7,1,0
1,2019-08-02 07:15:00,2019-08-02 07:30:00,937.0,9.922978,20.0,0,2.55,False,1,2019-08-02,NEAR WEST SIDE,CHATHAM,2019,August,2,Friday,7,1,0
2,2019-06-11 14:15:00,2019-06-11 14:45:00,1236.0,4.171590,7.5,0,2.55,True,2,2019-06-11,NORTH CENTER,LINCOLN SQUARE,2019,June,11,Tuesday,14,0,0
3,2019-04-22 09:30:00,2019-04-22 10:00:00,1093.0,4.292988,7.5,0,2.55,True,2,2019-04-22,IRVING PARK,BELMONT CRAGIN,2019,April,22,Monday,9,0,0
4,2019-08-15 15:45:00,2019-08-15 16:00:00,1246.0,4.731899,12.5,0,2.55,False,1,2019-08-15,WEST TOWN,LAKE VIEW,2019,August,15,Thursday,15,0,0

In [5]:
train = pd.read_csv('../15_modified_data/train_data.csv')
train.head()

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tip,additional_charges,shared_trip_authorized,trips_pooled,date,pickup_community_name,dropoff_community_name,year,month,day,day_of_week,hour,weekend,nonzero_tip
0,2019-09-24 06:30:00,2019-09-24 06:45:00,802.0,6.183132,10.0,3,2.55,False,1,2019-09-24,LINCOLN PARK,NEAR WEST SIDE,2019,September,24,Tuesday,6,0,1
1,2019-07-30 11:45:00,2019-07-30 12:30:00,2349.0,18.248731,35.0,0,8.11,False,1,2019-07-30,OHARE,NEAR NORTH SIDE,2019,July,30,Tuesday,11,0,0
2,2018-11-17 01:15:00,2018-11-17 01:30:00,684.0,5.277118,10.0,0,2.50,False,1,2018-11-17,NEAR NORTH SIDE,NORTH CENTER,2018,November,17,Saturday,1,1,0
3,2019-12-09 12:00:00,2019-12-09 12:15:00,698.0,3.079843,7.5,1,2.55,False,1,2019-12-09,WEST TOWN,NEAR WEST SIDE,2019,December,9,Monday,12,0,1
4,2018-12-17 15:00:00,2018-12-17 15:00:00,812.0,2.996371,7.5,0,2.50,False,1,2018-12-17,SOUTH SHORE,GREATER GRAND CROSSING,2018,December,17,Monday,15,0,0

In [7]:
test.columns

Index(['trip_start_timestamp', 'trip_end_timestamp', 'trip_seconds',
       'trip_miles', 'fare', 'tip', 'additional_charges',
       'shared_trip_authorized', 'trips_pooled', 'date',
       'pickup_community_name', 'dropoff_community_name', 'year', 'month',
       'day', 'day_of_week', 'hour', 'weekend', 'nonzero_tip'],
      dtype='object')

In [16]:
y = test['tip']

In [26]:
X = test.drop(['tip', 'trip_start_timestamp', 'trip_end_timestamp', 'date' ], axis=1)
X.columns

Index(['trip_seconds', 'trip_miles', 'fare', 'additional_charges',
       'shared_trip_authorized', 'trips_pooled', 'pickup_community_name',
       'dropoff_community_name', 'year', 'month', 'day', 'day_of_week', 'hour',
       'weekend', 'nonzero_tip'],
      dtype='object')

In [30]:
test.dropoff_community_name.value_counts()

NEAR NORTH SIDE    4146
LOOP               2587
NEAR WEST SIDE     2516
LAKE VIEW          1844
WEST TOWN          1535
                   ...
BURNSIDE             12
EAST SIDE            11
MOUNT GREENWOOD      11
FULLER PARK          10
HEGEWISCH             6
Name: dropoff_community_name, Length: 77, dtype: int64

In [38]:
xmatches = pd.get_dummies(test, columns = ['dropoff_community_name', 'pickup_community_name'])

In [39]:
xmatches

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tip,additional_charges,shared_trip_authorized,trips_pooled,date,...,pickup_community_name_WASHINGTON HEIGHTS,pickup_community_name_WASHINGTON PARK,pickup_community_name_WEST ELSDON,pickup_community_name_WEST ENGLEWOOD,pickup_community_name_WEST GARFIELD PARK,pickup_community_name_WEST LAWN,pickup_community_name_WEST PULLMAN,pickup_community_name_WEST RIDGE,pickup_community_name_WEST TOWN,pickup_community_name_WOODLAWN
0,2019-01-05 07:00:00,2019-01-05 07:00:00,232.0,1.053800,2.5,0,2.55,False,1,2019-01-05,...,0,0,0,0,0,0,0,0,0,0
1,2019-08-02 07:15:00,2019-08-02 07:30:00,937.0,9.922978,20.0,0,2.55,False,1,2019-08-02,...,0,0,0,0,0,0,0,0,0,0
2,2019-06-11 14:15:00,2019-06-11 14:45:00,1236.0,4.171590,7.5,0,2.55,True,2,2019-06-11,...,0,0,0,0,0,0,0,0,0,0
3,2019-04-22 09:30:00,2019-04-22 10:00:00,1093.0,4.292988,7.5,0,2.55,True,2,2019-04-22,...,0,0,0,0,0,0,0,0,0,0
4,2019-08-15 15:45:00,2019-08-15 16:00:00,1246.0,4.731899,12.5,0,2.55,False,1,2019-08-15,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23911,2020-01-21 18:00:00,2020-01-21 18:00:00,507.0,1.560000,7.5,0,3.08,False,1,2020-01-21,...,0,0,0,0,0,1,0,0,0,0
23912,2019-05-03 11:45:00,2019-05-03 11:45:00,670.0,3.407916,10.0,1,2.55,False,1,2019-05-03,...,0,0,0,0,0,0,0,0,0,0
23913,2019-02-25 13:45:00,2019-02-25 14:00:00,1373.0,7.680804,15.0,0,2.55,False,1,2019-02-25,...,0,0,0,0,0,0,0,0,0,0
23914,2019-11-26 17:30:00,2019-11-26 18:00:00,2350.0,9.087253,20.0,0,2.55,False,1,2019-11-26,...,0,0,0,0,0,0,0,0,0,0
23915,2019-03-09 19:45:00,2019-03-09 20:00:00,685.0,1.900103,5.0,0,2.55,True,2,2019-03-09,...,0,0,0,0,0,0,0,0,0,0

In [44]:
for i in xmatches.columns:
    print(i)

trip_start_timestamp
trip_end_timestamp
trip_seconds
trip_miles
fare
tip
additional_charges
shared_trip_authorized
trips_pooled
date
year
month
day
day_of_week
hour
weekend
nonzero_tip
dropoff_community_name_ALBANY PARK
dropoff_community_name_ARCHER HEIGHTS
dropoff_community_name_ARMOUR SQUARE
dropoff_community_name_ASHBURN
dropoff_community_name_AUBURN GRESHAM
dropoff_community_name_AUSTIN
dropoff_community_name_AVALON PARK
dropoff_community_name_AVONDALE
dropoff_community_name_BELMONT CRAGIN
dropoff_community_name_BEVERLY
dropoff_community_name_BRIDGEPORT
dropoff_community_name_BRIGHTON PARK
dropoff_community_name_BURNSIDE
dropoff_community_name_CALUMET HEIGHTS
dropoff_community_name_CHATHAM
dropoff_community_name_CHICAGO LAWN
dropoff_community_name_CLEARING
dropoff_community_name_DOUGLAS
dropoff_community_name_DUNNING
dropoff_community_name_EAST GARFIELD PARK
dropoff_community_name_EAST SIDE
dropoff_community_name_EDGEWATER
dropoff_community_name_EDISON PARK
dropoff_community_name_ENGLEWOOD
dropoff_community_name_FOREST GLEN
dropoff_community_name_FULLER PARK
dropoff_community_name_GAGE PARK
dropoff_community_name_GARFIELD RIDGE
dropoff_community_name_GRAND BOULEVARD
dropoff_community_name_GREATER GRAND CROSSING
dropoff_community_name_HEGEWISCH
dropoff_community_name_HERMOSA
dropoff_community_name_HUMBOLDT PARK
dropoff_community_name_HYDE PARK
dropoff_community_name_IRVING PARK
dropoff_community_name_JEFFERSON PARK
dropoff_community_name_KENWOOD
dropoff_community_name_LAKE VIEW
dropoff_community_name_LINCOLN PARK
dropoff_community_name_LINCOLN SQUARE
dropoff_community_name_LOGAN SQUARE
dropoff_community_name_LOOP
dropoff_community_name_LOWER WEST SIDE
dropoff_community_name_MCKINLEY PARK
dropoff_community_name_MONTCLARE
dropoff_community_name_MORGAN PARK
dropoff_community_name_MOUNT GREENWOOD
dropoff_community_name_NEAR NORTH SIDE
dropoff_community_name_NEAR SOUTH SIDE
dropoff_community_name_NEAR WEST SIDE
dropoff_community_name_NEW CITY
dropoff_community_name_NORTH CENTER
dropoff_community_name_NORTH LAWNDALE
dropoff_community_name_NORTH PARK
dropoff_community_name_NORWOOD PARK
dropoff_community_name_OAKLAND
dropoff_community_name_OHARE
dropoff_community_name_PORTAGE PARK
dropoff_community_name_PULLMAN
dropoff_community_name_RIVERDALE
dropoff_community_name_ROGERS PARK
dropoff_community_name_ROSELAND
dropoff_community_name_SOUTH CHICAGO
dropoff_community_name_SOUTH DEERING
dropoff_community_name_SOUTH LAWNDALE
dropoff_community_name_SOUTH SHORE
dropoff_community_name_UPTOWN
dropoff_community_name_WASHINGTON HEIGHTS
dropoff_community_name_WASHINGTON PARK
dropoff_community_name_WEST ELSDON
dropoff_community_name_WEST ENGLEWOOD
dropoff_community_name_WEST GARFIELD PARK
dropoff_community_name_WEST LAWN
dropoff_community_name_WEST PULLMAN
dropoff_community_name_WEST RIDGE
dropoff_community_name_WEST TOWN
dropoff_community_name_WOODLAWN
pickup_community_name_ALBANY PARK
pickup_community_name_ARCHER HEIGHTS
pickup_community_name_ARMOUR SQUARE
pickup_community_name_ASHBURN
pickup_community_name_AUBURN GRESHAM
pickup_community_name_AUSTIN
pickup_community_name_AVALON PARK
pickup_community_name_AVONDALE
pickup_community_name_BELMONT CRAGIN
pickup_community_name_BEVERLY
pickup_community_name_BRIDGEPORT
pickup_community_name_BRIGHTON PARK
pickup_community_name_BURNSIDE
pickup_community_name_CALUMET HEIGHTS
pickup_community_name_CHATHAM
pickup_community_name_CHICAGO LAWN
pickup_community_name_CLEARING
pickup_community_name_DOUGLAS
pickup_community_name_DUNNING
pickup_community_name_EAST GARFIELD PARK
pickup_community_name_EAST SIDE
pickup_community_name_EDGEWATER
pickup_community_name_EDISON PARK
pickup_community_name_ENGLEWOOD
pickup_community_name_FOREST GLEN
pickup_community_name_FULLER PARK
pickup_community_name_GAGE PARK
pickup_community_name_GARFIELD RIDGE
pickup_community_name_GRAND BOULEVARD
pickup_community_name_GREATER GRAND CROSSING
pickup_community_name_HEGEWISCH
pickup_community_name_HERMOSA
pickup_community_name_HUMBOLDT PARK
pickup_community_name_HYDE PARK
pickup_community_name_IRVING PARK
pickup_community_name_JEFFERSON PARK
pickup_community_name_KENWOOD
pickup_community_name_LAKE VIEW
pickup_community_name_LINCOLN PARK
pickup_community_name_LINCOLN SQUARE
pickup_community_name_LOGAN SQUARE
pickup_community_name_LOOP
pickup_community_name_LOWER WEST SIDE
pickup_community_name_MCKINLEY PARK
pickup_community_name_MONTCLARE
pickup_community_name_MORGAN PARK
pickup_community_name_MOUNT GREENWOOD
pickup_community_name_NEAR NORTH SIDE
pickup_community_name_NEAR SOUTH SIDE
pickup_community_name_NEAR WEST SIDE
pickup_community_name_NEW CITY
pickup_community_name_NORTH CENTER
pickup_community_name_NORTH LAWNDALE
pickup_community_name_NORTH PARK
pickup_community_name_NORWOOD PARK
pickup_community_name_OAKLAND
pickup_community_name_OHARE
pickup_community_name_PORTAGE PARK
pickup_community_name_PULLMAN
pickup_community_name_RIVERDALE
pickup_community_name_ROGERS PARK
pickup_community_name_ROSELAND
pickup_community_name_SOUTH CHICAGO
pickup_community_name_SOUTH DEERING
pickup_community_name_SOUTH LAWNDALE
pickup_community_name_SOUTH SHORE
pickup_community_name_UPTOWN
pickup_community_name_WASHINGTON HEIGHTS
pickup_community_name_WASHINGTON PARK
pickup_community_name_WEST ELSDON
pickup_community_name_WEST ENGLEWOOD
pickup_community_name_WEST GARFIELD PARK
pickup_community_name_WEST LAWN
pickup_community_name_WEST PULLMAN
pickup_community_name_WEST RIDGE
pickup_community_name_WEST TOWN
pickup_community_name_WOODLAWN

In [45]:
xmatches.drop(['tip', 'trip_start_timestamp', 'trip_end_timestamp', 'date' ], axis=1, inplace=True)

In [50]:
xmatches['month'].value_counts()

December     3174
November     3158
January      3043
March        1771
May          1715
October      1672
April        1603
June         1593
August       1588
February     1580
July         1534
September    1485
Name: month, dtype: int64

In [51]:
month_map = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6, 'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12}

In [53]:
xmatches['month_int'] = xmatches['month'].map(month_map)

In [54]:
xmatches['month_int'].value_counts()

12    3174
11    3158
1     3043
3     1771
5     1715
10    1672
4     1603
6     1593
8     1588
2     1580
7     1534
9     1485
Name: month_int, dtype: int64

In [57]:
xmatches['day_of_week'].value_counts()

Saturday     4350
Friday       4065
Thursday     3361
Sunday       3313
Wednesday    3121
Tuesday      2965
Monday       2741
Name: day_of_week, dtype: int64

In [58]:
day_map = {'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7}

In [59]:
xmatches['day_ofweek_int'] = xmatches['day_of_week'].map(day_map)
xmatches['day_ofweek_int'].value_counts()

6    4350
5    4065
4    3361
7    3313
3    3121
2    2965
1    2741
Name: day_ofweek_int, dtype: int64

In [60]:
xmatches.drop(['day_of_week', 'month' ], axis=1, inplace=True)

In [46]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [61]:
X_train, X_test, y_train, y_test = train_test_split(xmatches, y, test_size=0.2, random_state=0)

In [62]:
log = LogisticRegression()

In [63]:
log.fit(X_train, y_train)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [68]:
ypred = log.predict(X_test)
ypred

array([0, 0, 0, ..., 0, 0, 0])

In [65]:
from sklearn.metrics import accuracy_score

In [69]:
accuracy_score(ypred, y_test)

0.8239966555183946

In [72]:
xmatches.head()

,trip_seconds,trip_miles,fare,additional_charges,shared_trip_authorized,trips_pooled,year,day,hour,weekend,...,pickup_community_name_WEST ELSDON,pickup_community_name_WEST ENGLEWOOD,pickup_community_name_WEST GARFIELD PARK,pickup_community_name_WEST LAWN,pickup_community_name_WEST PULLMAN,pickup_community_name_WEST RIDGE,pickup_community_name_WEST TOWN,pickup_community_name_WOODLAWN,month_int,day_ofweek_int
0,232.0,1.053800,2.5,2.55,False,1,2019,5,7,1,...,0,0,0,0,0,0,0,0,1,6
1,937.0,9.922978,20.0,2.55,False,1,2019,2,7,1,...,0,0,0,0,0,0,0,0,8,5
2,1236.0,4.171590,7.5,2.55,True,2,2019,11,14,0,...,0,0,0,0,0,0,0,0,6,2
3,1093.0,4.292988,7.5,2.55,True,2,2019,22,9,0,...,0,0,0,0,0,0,0,0,4,1
4,1246.0,4.731899,12.5,2.55,False,1,2019,15,15,0,...,0,0,0,0,0,0,1,0,8,4